body{
    
    background-color: #bdc3c7;
}

#headerSection{
    padding: 6px;
    text-align: center;
}


#headerSection h1{
    font-family: cursive;
    align-items: center;
    padding-left: 19%;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#Dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
    
}

#loginbutton{
    padding: 5px;
    border-radius: 5px;
    background-color: #0984e3;
    color: white;
    font-size: 15px;

}